fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
numpy<2.0
pandas
scipy
openquake.engine==3.17.1
alembic

# Auth & Security
python-jose[cryptography]
passlib[bcrypt]
httpx
authlib
python-dotenv
