fastapi
uvicorn[standard]
gunicorn
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary==2.9.7
numpy==1.26.5
pandas==2.1.1
scipy==1.11.3
openquake.engine==3.17.1
h5py==3.14.0
alembic


python-jose[cryptography]
passlib[bcrypt]
httpx
authlib
python-dotenv
python-multipart
itsdangerous
